.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px 0;
  background: #333;
  width: 100%;
  color: #FFF;
  font-weight: 300;

  a {
    text-decoration: none;
    color: #FFF;
  }

  &__brand {
    margin: 0 20px;
    font-weight: 300;
    font-size: 24px;
  }

  &__logout ,
  &__login {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }

  &__photo {
    width: 40px;
    border-radius: 50%;
  }

  &__user,
  &__logout {
    margin: 0 20px;
  }

  &__login-button,
  &__logout-button {
    color: #FFF;
    font-weight: 300;
    font-size: 12px;
    background: transparent;
    border: 1px solid #7d7d7d;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
  }

}